substitutions:
  name: home-assistant-voice-0a2745
  friendly_name: Home Assistant Voice
packages:
  Nabu Casa.Home Assistant Voice PE: github://esphome/home-assistant-voice-pe/home-assistant-voice.yaml
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: P69FTfXTSlTSxiflQO/xdsUQF3uFa5qyzvK21LOhnoo=


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
